.idea/
target/
nbproject/private/
.m2/
webrev
/bin/
.classpath
.project
.settings/
*.iml

_site
www/CONTRIBUTING.md
www/docs/api
www/docs/CHANGES.txt
www/vendor
www/.sass-cache
www/.jekyll-cache
www/.jekyll-metadata
